.login{
	height: 400px;
	width: 400px;
	border:solid 1px;
	padding: 100px; 
	border-radius: 17px;
	outline: none;
}

.username{
	border:solid 2px;
	border-radius: 17px 17px 17px 17px;
	padding: 10px;
	opacity: 0.5;
	transition-duration: 0.5s;
	outline: none;
}

.password{
	border:solid 2px;
	border-radius: 17px 17px 17px 17px;
	padding: 10px;
	opacity: 0.5;
	transition-duration: 0.5s;
	outline: none;
}

.username:hover{
	padding: 12px;
	opacity: 0.6;
	outline: none;
	
}
.password:hover{
	padding: 12px;
	opacity: 0.6;
	outline: none;
	
}




.login-button{
	background-color: white;
}