@charset "UTF-8";
/* CSS Document */
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?hl0idt');
    src:url('fonts/icomoon.eot?#iefixhl0idt') format('embedded-opentype'),
        url('fonts/icomoon.woff?hl0idt') format('woff'),
        url('fonts/icomoon.ttf?hl0idt') format('truetype'),
        url('fonts/icomoon.svg?hl0idt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e601";
}
.icon-heart:before {
    content: "\e602";
}
.icon-close:before {
    content: "\e600";
}


header{
width:100%;
margin:0 auto;

}
.menu{
top: 0px;
position: absolute;
width:200px;
margin-top: 2%
 float:right;
left:-200;
background-color: white;  
z-index: 0; 
-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.menu ul{
    width:100%;
    float:left;
    margin-top:100px;
    list-style-type:none;
    margin:0;
    padding:0;
}
.menu ul li{
    margin-top:10px;    
    
}

.menu ul li:first-child{
margin-top:10px;
}
.menu ul li:hover{
    background:#fff;
    
    border-radius: 10px;
}
.menu ul li a{
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    
    color: black;
}

.menu ul li:hover a{
color:black;

}


/*          MENUBUTTON          */
#menuButton{
    position: absolute;
    font-size:2em;
    color:#fff;
    margin:0px 10px;
    color: green;
    top: 10px;
}
#menuButton a{
    
    cursor:pointer;
    transition:all 0.2s;
}
#menuButton a:hover{
    color:#f06;
    
}
/*          CLOSEBUTTON     */


.closeButton{
    position: absolute;
    font-size:1.5em;
    color:#fff;
    left:-40px;
    top:10px;
    color: green;
    
}
.closeButton a:hover{
    color:#333;
    cursor:pointer;
    
}
/*          MAIN    */
.main{
width:100%;
    margin:0 auto;
}

.main h1{
    text-align:center;
    font-size:7em;
    color:rgba(255,255,255,0.8);
    line-height:400px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}
.icon-heart{
font-size:0.8em;    
}





body{
    background-image: url(sfondo.png);
    margin:0;
    padding:0;  
    font-family: 'Lato', sans-serif;
     }


ul {

    
    list-style-type: none;
    margin: 0;
    padding: 0;
   
   
    opacity: 0.5;
    border-radius: 10px 10px 10px 10px;
    
}

li {
   
   
     }


li a {
  

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Source Code Pro', serif;
      font-size: 16px;
     
      

}


li a:hover {
    background-color: #98FF98;


}



#menuservizio
{
    margin-left: 20px;
    width: 60%; 
    height: 1000px;
    background-color:#F0F8F0; 
    border-radius: 10px 10px 10px 10px;
}


.container {
	float: left;
	margin: 10px;
	-webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  border-radius: 3px;
  background-color: #fff;
  height: 300px;
  width: 300px;
  border:solid 1px;
  border-color: #20B2AA;
}
.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foto-icona{
	width: 250px; height: 150px;
	border-radius: 3px;
}

input{
	padding: 10px;
	border-radius: 3px;
	border:solid 1px;
  	border-color: #20B2AA;
  	outline-color: none;
  	

}

input:hover{
	
	transition-duration: 0.5s;
}



.pagination{
	position: relative;
	top: 95%;

}

.colonna_centrale{
	width: 73%;
}

.icona_gg{
	width: 100px;
	height: auto;
}






