{% load staticfiles %}
<html>
    <head>
        <title>Saggiatore</title>
        <link rel="stylesheet" href="{% static 'saggiatore-core.css' %}">
        <link rel="stylesheet" href="{% static 'login.css' %}">
        <link rel="stylesheet" type="text/css"

        href="https://fonts.googleapis.com/css?family=Source Code Pro">
  <meta charset=UTF-8 />


<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/blbootstrap.css' %}">-->
    </head>
    <body>
<header>
      <div id="container">

        <center><h1 id="titolo">Saggiatore</h1></center>

            <div class="menu">

            <div id="utente">
              <center>
                <br>
                <h2 class="nome-utente">{{user}}</h2>

              </center>
            </div>
                      <ul>
                        <li ><a href="/">Saggiatore</a></li>
                        <li ><a href="/pubblica">login</a></li>


                      </ul>

              </div>
              <div class="closeButton"><a class="icon-close"></a></div>

              <div id="menuButton"><a class="icon-menu"></a></div>
            </div>
</header>







                <script>
              $('#menuButton').click(function()
            {
                 $('.menu').
                        animate({"left":"0px"}, 1000);
                   });


              $('#menuButton').click(function()
            {
                 $('.closeButton').
                        animate({"left":"160px"}, 1000);
                   });





                   $('.closeButton').click(function()
            {
                 $('.menu').animate({"left":"-200px"}, 1000);
            });

                   $('.closeButton').click(function()
            {
                 $('.closeButton').animate({"left":"-160px"}, 1000);
            });


            </script>


    </body>
</html>
  {% block content %}
{% endblock %}
