{% load staticfiles %}
<html>
    <head>
        <title>Saggiatore</title>
        <link rel="stylesheet" href="{% static 'saggiatore-core.css' %}" )">
        <link rel="stylesheet" href="{% static 'login.css' %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source Code Pro">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" type="text/css" rel="stylesheet">
  <meta charset=UTF-8 />


<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
  
    </head>
    <body>
<header>
      <div id="container">

        <center><h1 id="titolo">Saggiatore</h1><h3 style="color: red;"><b>Sito in versione Beta! In questo mometo il sito è stato messo Online prematuramente per poter discutele delle elezioni!</b></h3></center>
       

            <div class="menu">

            <div id="utente">
              <center>
                <br>
                <h2 class="nome-utente">{{user}}</h2>

              </center>
            </div>
                      <ul>
                        <li><a href="/">Saggiatore</a></li>
                        <li><a href="/pubblica">login</a></li>
                        <li><a href="/scrivici">Scrivici</a></li>
                        <li><i style="color:red;">Categorie:</i></li>
                         {% for categoria in categorie%}
                        <li><a href="/?c={{categoria.categorie}}"> {{categoria.categorie}}</a></li>
                        {% endfor %}
                        <li><i style="color:red;">Autori:</i></li>
                        {% for user in autori%}
                        <li><a href="/?a={{user}}">{{user}}</a>
                        {% endfor %}</li>
                      </ul>
                    </div>
                  </div>

                        <center>
                        


                        </ul>

              </div>
              <div class="closeButton"><a class="icon-close"></a></div>

              <div id="menuButton"><a class="icon-menu"></a></div>
            </div>
</header>







                <script>
              $('#menuButton').click(function()
            {
                 $('.menu').
                        animate({"left":"0px"}, 100);
                   });


              $('#menuButton').click(function()
            {
                 $('.closeButton').
                        animate({"left":"160px"}, 100);
                   });





                   $('.closeButton').click(function()
            {
                 $('.menu').animate({"left":"-200px"}, 100);
            });

                   $('.closeButton').click(function()
            {
                 $('.closeButton').animate({"left":"-160px"}, 100);
            });


            </script>


    </body>
</html>
  {% block content %}
{% endblock %}
