{% extends 'articoli/base.html' %}

{% block content %}

<form method="GET" action=""> {{ form.q }}<input type="submit" value="Search"> <a href="/">indietro</a>
  <p>numero corsi tot: {{articoli.count}}</p>
</form>




    {% for articolo in articoli%}
<div class="well">

    <div class="articoli">


            <div class="date">
                {{ corso.published_date }}


            </div>
            <h3><a href="">{{ articolo.titolo }}</a></h3>
            <p>{{ articolo.text }}</p>
            <h10>{{ articolo.author }}</h10>
            <p>{{articolo.id}} </p>



        </div>
</div>
    {% endfor %}

{% endblock content %}
