{% extends 'articoli/base.html' %}

{% block content %}

<form method="GET" action=""> {{ form.q }}<input type="submit" value="Search"> <a href="/">indietro</a></form>


  
  <p>numero corsi tot: {{articoli.count}}</p>





    {% for articolo in articoli%}

    <div class="container">
      <div class="row">
        <div class="col-md-3">

        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">


            <div class="col-md-3"></div>
                  <h3><a href="">{{ articolo.titolo }}</a></h3>
                {{ articolo.published_date }}
                 <h10>{{ articolo.author }}</h10>
                 <br>

                 <form action="/vedi_tutto" method="get">
                   <input  type="submit" name="q" value="{{ articolo.titolo }}"><br>
                 </form>
               </div>


          </div>
        </div>
      </div>
    </div>
    </div>


    {% endfor %}



{% endblock content %}
