{% extends 'articoli/base.html' %}



{% block content %}



<form method="GET" action=""> {{ form.q }}<input type="submit" value="Search"> <a href="/">Indietro</a></form>

<div class="categorie">
<i style="color:red;">Categorie:</i></li>
<br>
 {% for articolo in articoli%}
 <a href="/?q={{articolo.categorie}}">{{articolo.categorie}}</a>
 <br>

   {% endfor %}
<div>

<script type="text/javascript">
var i =  $("#box :input");
</script>

    {% for articolo in articoli%}

<center>
     <form action="/vedi_tutto" method="get">
    <div class="container hoverable" id="box" type="submit" name="q" value="{{ articolo.titolo }}">

<div class="caption">
            <div class="thumbnail">
          <img class="foto-icona" src="{{articolo.foto.url}}" alt="...">




                  <h3><a href="">{{ articolo.titolo }}</a></h3>
                {{ articolo.published_date }}
                 <b>{{ articolo.author }}</b>
                 <br>


                   <input  type="submit" name="q" value="{{ articolo.titolo }}"><br>
                 </form>
               </div>


      </div>
    </div>
    </div>
<br>
</center>
    {% endfor %}




<div class="pagination">
    <span class="step-links">
        {% if articoli.has_previous %}
            <a href="?page={{ articoli.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articoli.number }} of {{ articoli.paginator.num_pages }}.
        </span>

        {% if articoli.has_next %}
            <a href="?page={{ articoli.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<div class="col-md-10">
<p>creato da<a>Tommaso Patriti</a> (4F)</p>
</div>

{% endblock content %}
