{% extends 'articoli/base.html' %}
{% block content %}

    {% for articolo in articoli%}
      {% if articolo.convalida == True %}
      <center>
<div class="articolo_centrale">
     
      <br>
      <h2 class="titolo">{{ articolo.titolo|safe }}</h2>
      <img src="{{articolo.foto.url}}" alt="..." class="foto_tutto">
      <p class="testo">{{ articolo.text|safe }}</p>
      <br>
      <br>
       {{ articolo.published_date }}  <h10><b>{{ articolo.author }}</b></h10>
       <br>
       <br>
</div>
	</center>

  {% endif %}
{% endfor %}

{% endblock %}
