
{% extends 'articoli/base.html' %}
{% block title %}Login{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    


<center>
<div class="login">
    {% if form.errors %}
        <p class="login_error">username o password errati. Riprovare nuovamente</p>
    {% endif %}
    <form class="form" method="post" action="." >{% csrf_token %}
        <input class="username" type="text" placeholder="Username" name="username">
        <br>
        <br>
        <input  class="password" type="password" placeholder="Password" name="password">
        <br>
        <br>
        <button class="login-button" type="submit"  value="Login" id="login-button">Login</button>
       
        <input type="hidden" name="next" value="{% url 'pubblica' %}" />
    </form>
</div>
</center>




{% endblock %}